<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.contract.Settlement.mapper.shengtieAccountMapper">
    <select id="findHthList" resultType="map">
        SELECT distinct top(30) contract_no FROM contract_information
        where 1=1
        <if test="hth !=null and  hth !='' ">
            and contract_no like  '%' +#{hth}+'%'
        </if>
        <if test="contracttype !=null and  contracttype !='' ">
            and contract_type =#{contracttype}
        </if>
    </select>

    <select id="findVoucherNo" resultType="map">
        select distinct voucher_no from contract_information
        where 1=1
        <if test="contractNo !=null and  contractNo !='' ">
            and contract_no = #{contractNo}
        </if>
    </select>

    <select id="findContractList" resultType="org.jeecg.modules.contract.contract.entity.ContractInformation">
        select * from contract_information
        where 1=1
        <if test="contractNo !=null and  contractNo !='' ">
            and contract_no = #{contractNo}
        </if>
        <if test="voucherNo !=null and  voucherNo !='' ">
            and voucher_no = #{voucherNo}
        </if>
    </select>

    <select id="findContractElement" resultType="org.jeecg.modules.contract.elements.entity.ContractElements">
        select * from contract_elements
        where 1=1
        <if test="id !=null and  id !='' ">
            and ci_id = #{id}
        </if>
            and is_delete = 0
    </select>

    <select id="findContractInformations" resultType="org.jeecg.modules.contract.contract.entity.ContractInformation">
        select * from contract_information
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>

    </select>
    
    <!--查取元素信息列表-->
    <select id="findElements" resultType="org.jeecg.modules.contract.elements.entity.ContractElements">
        select * from contract_elements
        where ci_id in 
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
            and is_delete = 0
    </select>

    <!--查取元素公式表中的数据-->
    <select id="findHtGs" resultType="org.jeecg.modules.contract.Hetonggongshi.entity.SysHetonggongshi">
        select * from sys_hetonggongshi
        where hetong_id = #{cno}
    </select>
    
    <!--将计算好的元素数据存入-->
    <update id="depositElementData">
        update contract_elements
        set deduction_result = #{deduction_result}
        where 1=1
        <if test="element !=null and element !='' ">
            and element = #{element}
        </if>

        <if test="ci_id !=null and ci_id !='' ">
            and ci_id = #{ci_id}
        </if>
    </update>

    <!--更新合同信息表中的数据-->
    <update id="updataContractInformation">
        update contract_information
        set settlement_date = #{settlement_date},
        settlement_quantity = #{settlement_quantity},
        settlemen_price = #{settlemenPrice},
        settlement_results = #{settlementResults},
        clearing_house = #{clearing_house},
        taxes = #{taxes},
        settlement_identification = #{settlement_identification}
        where id = #{id}

    </update>
    
    <!--查询数量表的数据-->
    <select id="selectNumgongshi" resultType="org.jeecg.modules.contract.SysNumgongshi.entity.SysNumgongshi">
        select * from sys_numgongshi
        where hetong_id = #{hetongId}
    </select>

    <!--查询合同信息表所有信息-->
    <select id="selectContractInformation" resultType="org.jeecg.modules.contract.contract.entity.ContractInformation">
        select * from contract_information
        where id = #{id}
    </select>
    
</mapper>