<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.contract.Settlement.mapper.shengtieAccountMapper">
    <select id="findHthList" resultType="map">
        SELECT distinct top(30) contract_no FROM contract_information
        where 1=1
        <if test="hth !=null and  hth !='' ">
            and contract_no like  '%' +#{hth}+'%'
        </if>
        <if test="contracttype !=null and  contracttype !='' ">
            and contract_type =#{contracttype}
        </if>
            and is_delete = 0
    </select>

    <select id="findVoucherNo" resultType="map">
        select distinct voucher_no from contract_information
        where 1=1
        <if test="contractNo !=null and  contractNo !='' ">
            and contract_no = #{contractNo}
        </if>
    </select>

    <select id="findContractList" resultType="org.jeecg.modules.contract.contract.entity.ContractInformation">
        select * from contract_information
        where 1=1
        <if test="contractNo !=null and  contractNo !='' ">
            and contract_no = #{contractNo}
        </if>
        <if test="voucherNo !=null and  voucherNo !='' ">
            and voucher_no = #{voucherNo}
        </if>

        <if test="identification !=null ">
            and settlement_identification =#{identification}
        </if>
            and is_delete = 0

    </select>

    <select id="findContractElement" resultType="org.jeecg.modules.contract.elements.entity.ContractElements">
        select * from contract_elements
        where 1=1
        <if test="id !=null and  id !='' ">
            and ci_id = #{id}
        </if>
            and is_delete = 0
    </select>

    <select id="findContractInformations" resultType="org.jeecg.modules.contract.contract.entity.ContractInformation">
        select * from contract_information
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and	is_delete = 0

    </select>
    
    <!--查取元素信息列表-->
    <select id="findElements" resultType="org.jeecg.modules.contract.elements.entity.ContractElements">
        select * from contract_elements
        where ci_id in 
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
            and is_delete = 0
    </select>

    <!--查取元素公式表中的数据-->
    <select id="findHtGs" resultType="org.jeecg.modules.contract.Hetonggongshi.entity.SysHetonggongshi">
        select * from sys_hetonggongshi
        where hetong_id = #{cno}
    </select>
    
    <!--将计算好的元素数据存入-->
    <update id="depositElementData" parameterType="java.util.List">
       <foreach collection="list" item="bean" index="index" open="" close="" separator=";">
          update contract_elements
           set
           <if test="bean.deductionResult !=null">
              deduction_result = #{bean.deductionResult}
           </if>
          where  ci_id = #{bean.ciId}
           and element = #{bean.element}
       </foreach>
    </update>

    <!--更新合同信息表中的数据-->
    <update id="updataContractInformation" parameterType="java.util.List">

        <foreach collection="list" item="bean" index="index" open="" close="" separator=";">
          update contract_information
          <set>
              <if test="bean.settlementDate !=null ">
              settlement_date = #{bean.settlementDate},
              </if>
              <if test="bean.settlementQuantity !=null">
                  settlement_quantity = #{bean.settlementQuantity},
              </if>
              <if test="bean.settlemenPrice !=null">
                  settlemen_price = #{bean.settlemenPrice},
              </if>
              <if test="bean.settlementResults !=null">
                  settlement_results = #{bean.settlementResults},
              </if>
              <if test="bean.clearingHouse !=null and bean.clearingHouse !=''">
                  clearing_house = #{bean.clearingHouse},
              </if>
              <if test="bean.taxes !=null and bean.taxes !=''">
                  taxes = #{bean.taxes},
              </if>
              <if test="bean.settlementIdentification !=null">
                  settlement_identification = #{bean.settlementIdentification},
              </if>
              <if test="bean.settlementNotes !=null">
                  settlement_notes = #{bean.settlementNotes},
              </if>
              <if test="bean.loan !=null">
                  loan = #{bean.loan},
              </if>
          </set>
            where id = #{bean.id}
        </foreach>

    </update>
    
    <!--查询数量表的数据-->
    <select id="selectNumgongshi" resultType="org.jeecg.modules.contract.SysNumgongshi.entity.SysNumgongshi">
        select * from sys_numgongshi
        where hetong_id = #{hetongId}
    </select>

    <!--查询合同信息表所有信息-->
    <select id="selectContractInformation" resultType="org.jeecg.modules.contract.contract.entity.ContractInformation">
        select * from contract_information
        where id = #{id}
    </select>

    <!--查询结算信息-->
    <select id="hejiesuan" resultType="map" statementType="CALLABLE">
        {call dbo.ht_jiesuan(
	    #{id,jdbcType=VARCHAR,mode=IN}
	    )}
    </select>

    <!--元素数据公式匹配-->
    <select id="elementCalculations" resultType="org.jeecg.modules.contract.Settlement.entity.elementCalculation">
        select a.id as cid,a.contract_no as contractNo, a.contract_price as contractPrice, a.tax_rate as taxRate,
        b.element as elements,b.elelment_date as elelmentData,s.isreduce as isreDuce,s.basedata as baseData,
        s.deductions as deduction,s.leftnum as leftElementData,
        (case when s.leftsysbol = 0 then cast(s.leftnum as varchar)+'<![CDATA[ < ]]>'+cast( b.elelment_date as varchar)
        when s.leftsysbol =1 then cast(s.leftnum as varchar)+'<![CDATA[ <= ]]>'+cast( b.elelment_date as varchar) end )
        as leftFormula,
        (case when s.leftsysbol =0 then cast( b.elelment_date as varchar)+'<![CDATA[ < ]]>'+cast( s.rightnum as varchar)
        when s.leftsysbol =1 then cast( b.elelment_date as varchar)+'<![CDATA[ <= ]]>'+cast( s.rightnum as varchar)end )
        as rightFormula
        from contract_information a
        left join contract_elements b on a.id = b.ci_id
        left join sys_hetonggongshi s on s.hetong_id=b.contract_no and b.element =s.elements
        where a.id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!--计算每次结算中的元素个数-->
    <select id="countElementNum" resultType="org.jeecg.modules.contract.Settlement.entity.countElementNum">
       select ci_id as cid, COUNT(*) as elementNum  FROM contract_elements
       where ci_id in
       <foreach collection="array" item="id" open="(" close=")" separator=",">
           #{id}
       </foreach>
        GROUP by ci_id
    </select>

    <!--通过筛选后，根据合同唯一ID获取合同数量对比公式-->
    <select id="cotractNumberById" parameterType="java.util.List" resultType="org.jeecg.modules.contract.Settlement.entity.ContractNumber">
      select a.id as cid,a.contract_no as contractNo,a.weighing as contractWeight ,
      s.basedata as baseData,s.leftnum as leftNumber,s.deductions as numberDeductions,
      (case when s.leftsysbol = 0 then cast(s.leftnum as varchar)+'<![CDATA[ < ]]>'+cast( a.weighing as varchar)
      when s.leftsysbol =1 then cast(s.leftnum as varchar)+'<![CDATA[ <= ]]>'+cast( a.weighing as varchar) end )
      as leftFormula,
      (case when s.leftsysbol =0 then cast( a.weighing as varchar)+'<![CDATA[ < ]]>'+cast( s.rightnum as varchar)
      when s.leftsysbol =1 then cast( a.weighing as varchar)+'<![CDATA[ <= ]]>'+cast( s.rightnum as varchar)end )
      as rightFormula
      from contract_information a
      left join sys_numgongshi s on s.hetong_id=a.contract_no
      where a.id in

      <foreach collection="list" item="items" index="index=" open="(" close=")" separator=",">
         #{items}
      </foreach>
      
    </select>

    <!--删除合同信息表中的结算信息假删除deleteAccount-->
    <update id="deleteAccount">
        <foreach collection="array" item="id" index="index" open="" close="" separator=";">
            update contract_information
            set is_delete = 2
            where id = #{id}
        </foreach>
    </update>


</mapper>