<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.contract.zhijianxinxi.mapper.ZhiJianXinXiMapper">

<!--	获取生铁质检信息-->
    <select id="listzjxx" resultType="map" statementType="CALLABLE">
        {call dbo.ht_zhijianxinxi_shengtie(
        #{startTime,jdbcType=VARCHAR,mode=IN},
        #{endTime,jdbcType=VARCHAR,mode=IN},
        #{supplier,jdbcType=VARCHAR,mode=IN}
        )}
    </select>

    <select id="listzjjf" resultType="map" statementType="CALLABLE">
	   {call dbo.ht_zhijianjingfen(
	    #{startTime,jdbcType=VARCHAR,mode=IN},
	    #{endTime,jdbcType=VARCHAR,mode=IN},
	    #{supplier,jdbcType=VARCHAR,mode=IN}
	    )}
	</select>

    <select id="listzjjfxx" resultType="map">
         select  HeTongBianHao,ShuiLv, WZDanJia, HanShuiBiaoJi, WZName, WZCode,DanWeiName,#{voucherno} as voucherno,#{receiving} as receiving,
         '1' as id
         from V_合同物资单价供需方
         where HeTongBianHao = #{htbh}
    </select>

    <select id="listzjrl" resultType="map" statementType="CALLABLE">
        {call dbo.ht_zhijianxinxi_ranliao(
        #{startTime,jdbcType=VARCHAR,mode=IN},
        #{endTime,jdbcType=VARCHAR,mode=IN},
        #{supplier,jdbcType=VARCHAR,mode=IN},
        #{materialName,jdbcType=VARCHAR,mode=IN}
        )}
    </select>

    <select id="listzjfl" resultType="map" statementType="CALLABLE">
	   {call dbo.ht_zhijianfuliao(
	    #{startTime,jdbcType=VARCHAR,mode=IN},
	    #{endTime,jdbcType=VARCHAR,mode=IN},
	    #{supplier,jdbcType=VARCHAR,mode=IN},
	    #{materialName,jdbcType=VARCHAR,mode=IN}
	    )}
	</select>

    <select id="listzjncxm" resultType="map" statementType="CALLABLE">
        {call dbo.ht_zhijianxinxi_naicaixinmei(
	    #{startTime,jdbcType=VARCHAR,mode=IN},
	    #{endTime,jdbcType=VARCHAR,mode=IN},
	    #{supplier,jdbcType=VARCHAR,mode=IN},
	    #{materialName,jdbcType=VARCHAR,mode=IN}
	    )}
    </select>

    <select id="listzjnc" resultType="map" statementType="CALLABLE">
        {call dbo.ht_zhijiannaicai(
	    #{startTime,jdbcType=VARCHAR,mode=IN},
	    #{endTime,jdbcType=VARCHAR,mode=IN},
	    #{supplier,jdbcType=VARCHAR,mode=IN},
	    #{materialName,jdbcType=VARCHAR,mode=IN}
	    )}
    </select>

    <select id="listzjfg" resultType="map" statementType="CALLABLE">
        {call dbo.ht_zhijianxinxi_feigang(
	    #{htbh,jdbcType=VARCHAR,mode=IN},
	    #{shdw,jdbcType=VARCHAR,mode=IN}
	    )}
    </select>

<!--    合金 合金-->
    <select id="listzjhjhj" resultType="map" statementType="CALLABLE">
         {call dbo.ht_zhijianhejinhj(
	    #{startTime,jdbcType=VARCHAR,mode=IN},
	    #{endTime,jdbcType=VARCHAR,mode=IN},
	    #{supplier,jdbcType=VARCHAR,mode=IN},
	    #{materialName,jdbcType=VARCHAR,mode=IN},
	    #{wzshang,jdbcType=VARCHAR,mode=IN},
	    #{wzxia,jdbcType=VARCHAR,mode=IN}
	    )}
    </select>

    <!--    合金 辅料-->
    <select id="listzjhjfl" resultType="map" statementType="CALLABLE">
 {call dbo.ht_zhijianhejinfl(
	    #{startTime,jdbcType=VARCHAR,mode=IN},
	    #{endTime,jdbcType=VARCHAR,mode=IN},
	    #{supplier,jdbcType=VARCHAR,mode=IN},
	    #{materialName,jdbcType=VARCHAR,mode=IN},
	    #{wzshang,jdbcType=VARCHAR,mode=IN},
	    #{wzxia,jdbcType=VARCHAR,mode=IN}
	    )}

    </select>

    <!--    合金 燃料-->
    <select id="listzjhjrl" resultType="map" statementType="CALLABLE">
        {call dbo.ht_zhijianhejinrl(
	    #{startTime,jdbcType=VARCHAR,mode=IN},
	    #{endTime,jdbcType=VARCHAR,mode=IN},
	    #{supplier,jdbcType=VARCHAR,mode=IN},
	    #{materialName,jdbcType=VARCHAR,mode=IN},
	    #{wzshang,jdbcType=VARCHAR,mode=IN},
	    #{wzxia,jdbcType=VARCHAR,mode=IN}
	    )}
    </select>

</mapper>