<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.contract.shengtie.mapper.ShengTieMapper">


    <select id="selectstdy" resultType="map" statementType="CALLABLE">
        {call dbo.ht_shengtie_dayin(
	    #{htbh,jdbcType=VARCHAR,mode=IN},
	    #{pzh,jdbcType=INTEGER,mode=IN}
	    )}
    </select>

    <select id="dyhj" statementType="CALLABLE" resultType="map" >
        {call dbo.ht_shengtie_dyhj(
                #{htbh,jdbcType=VARCHAR,mode=IN},
                #{pzh,jdbcType=INTEGER,mode=IN}
            )}
    </select>

</mapper>