<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.basicdata.original.mapper.OriginalChargeMapper">
    <update id="deleteOrilist"  parameterType="java.lang.String">
        update  original_charge
        set isdelete =2
        where id in
        <foreach item="ids" collection="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>

    <update id="usestatus"  parameterType="java.lang.String">
        update  original_charge
        set use_status =#{status}
        where id in
        <foreach item="ids" collection="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>

    <select id="shengbima" parameterType="java.lang.String" resultType="org.jeecg.modules.basicdata.original.entity.ShengBianMa">
        select *  from G_ShengBianMa
    </select>

    <select id="shibima" parameterType="java.lang.String" resultType="org.jeecg.modules.basicdata.original.entity.ShiBianMa">
       select *  from G_ShiBianMa where ShiParentCode = #{code}
    </select>

    <select id="supplierCode" parameterType="java.lang.String" resultType="java.lang.String">
       select SUBSTRING(MAX(supplier_code),6,3)  from original_charge where LEFT(supplier_code, 5)  = #{code} and LEN(supplier_code)='8'
    </select>

</mapper>