<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.contract_management.contractpurchase.mapper.ContractPurchaseMapper">

    <select id="hthfind" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT  SUBSTRING(MAX(contract_no),9,5)
	FROM contract_purchase WHERE   LEFT(contract_no, 8)='WX'+CONVERT(varchar(6), GETDATE(), 112)
    </select>
</mapper>